# Ignore specific files and directories
SAR_RARP50_challenge/Database/Test/
SAR_RARP50_challenge/Database/Database/Train/
SAR_RARP50_challenge/unet_model.pth
SAR_RARP50_challenge/code/unet_model.pth
SAR_RARP50_challenge/.idea/
.idea/
.idea/workspace.xml

# Ignore all .pth files (e.g., model files)
*.pth

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env
*.env

# Ignore other file types
*.txt
*.avi
output.mp4
